body {
    /* color: #1c1c1c; */
    font-size: 16px;
    margin: 0px auto 0px auto;
    max-width: 1200px;
    font-family: "游ゴシック",YuGothic,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* background-color: #ededed; */
}

h1, h2, h3, h4, h5 {
  color: #1a237e;
}

h1 {
  font-size: 1.5em;
}

h2, .brand {
  font-size: 1.3em;
}

h3 {
  font-size: 1.0em;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.8em;
}

.brand {
  font-style: bold;
}

.title {
  font-size: 2em;
}

.container h1 {
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #536dfe;
}

/*
.body h3:before {
  content: " ";
}
*/

.archives li {
  list-style: square;
  margin-bottom: 0.3em;
}
