<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <!-- <title>{{ page.title }} - {{ config.title }}</title> -->
        <title>{{ title }} - TODO: サイト名</title>
        <meta name="twitter:title" content="{{ page.title }} - {{ config.title }}">
        <meta property="og:title" content="{{ page.title }} - {{ config.title }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@ilyaletre">
        <meta name="twitter:image" content="https://utky.github.io/images/avatar.jpg">
        <meta property="og:image" content="https://utky.github.io/images/avatar.jpg">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <!--
        <link rel="stylesheet" type="text/css" href="/css/highlight/agate.css">
        <script src='/js/highlight.pack.js'></script>
        <script>hljs.initHighlightingOnLoad();</script>
        -->
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <script>
          const dont_track_me = document.cookie.split(";").includes("dont_track_me=true");
          if (dont_track_me) {
            window['ga-disable-UA-156288666-1'] = true;
          }
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156288666-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-156288666-1');
        </script>

        <script>
          if (window.location.hostname == "utky.github.io") {
            const dont_track_me = document.cookie.split(";").includes("dont_track_me=true");
            if (!dont_track_me) {
              var s = document.createElement('script');
              s.setAttribute( 'src', "https://www.googletagmanager.com/gtag/js?id=UA-156288666-1");
              s.setAttribute( 'async', true);
              document.body.appendChild( s );

              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-156288666-1');
            }
          }
        </script>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
        <a class="navbar-brand" href="/"><span><img src="/images/avatar.jpg" width="32" height="32" alt="avatar"> Hash λ Bye </span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about.html">
                <img src="/images/icons/person-fill.svg" alt="" width="32" height="32" title="About"> About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/note/index.html">
                <img src="/images/icons/pencil.svg" alt="" width="32" height="32" title="Notes"> Notes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/writings/index.html">
                <img src="/images/icons/book.svg" alt="" width="32" height="32" title="Writings"> Writings
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/ilyaletre" target="_blank" >
                <svg id="Logo_FIXED"  width="32" height="32" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400"><defs><style>.cls-1{fill:none;}.cls-2{fill:#1da1f2;}</style></defs><title>Twitter</title><rect class="cls-1"/><path class="cls-2" d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"/></svg> Twitter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/utky" target="_blank" >
                <img src="/images/icons/GitHub-Mark-32px.png" alt="" width="32" height="32" title="GitHub"> GitHub
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact.html">
                <img src="/images/icons/envelope.svg" alt="" width="32" height="32" title="Writings"> Contact
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="container mx-auto px-3" style="max-width: 760px;">
        {{{ content }}}
      </main>
      <footer>
        <hr>
        <div class="footer-copyright">
          <div>
            <span class="right">
              <small>
              <i>
              Site generated by
              <a href="https://www.getzola.org/">Zola</a>
              </i>
              </small>
            </span>
          </div>
          <div>
            <span class="right">
              <small>
              <i>
              Copyright © 2020 Yutaka Imamura
              </i>
              </small>
            </span>
          </div>
        </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
      <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['\\(','\\)']]},
        processEscape: true
      });
      </script>
    </body>
</html>
