<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Hash λ Bye - $title$</title>

        <!-- <link rel="stylesheet" type="text/css" href="/css/pure-nr-min.css" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="/css/highlight.css"> -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156288666-1"></script>
        <script>
          if (window.location.hostname != "localhost") {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-156288666-1');
          }
        </script>
    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                      <span>
                      <img src="/images/avatar.jpg"
                        width="30" height="30"
                        alt="avatar"> Hash λ Bye  </span>
                    </a>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="/about.html">
                          <span class="glyphicon glyphicon-user"></span> About
                        </a>
                      </li>
                      <li>
                        <a href="/writings.html">
                          <span class="glyphicon glyphicon-book"></span> Writings
                        </a>
                      </li>
                      <li>
                        <a href="http://ilyaletre.hatenablog.com/" target="_blank" >
                          <span class="glyphicon glyphicon-pencil"></span> Blog
                        </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/ilyaletre" target="_blank" >
                          <span class="glyphicon glyphicon-globe"></span> Twitter
                        </a>
                      </li>
                      <li>
                        <a href="https://github.com/utky" target="_blank" >
                          <span class="glyphicon glyphicon-globe"></span> GitHub
                        </a>
                      </li>
                      <li>
                        <a href="/contact.html">
                          <span class="glyphicon glyphicon-envelope"></span> Contact
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>

              <main class="content">
                $body$
              </main>

              <footer>
                <hr>
                <div class="footer-copyright">
                  <div>
                    <span class="right">
                      <small>
                      <i>
                      Site generated by
                      <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                      </i>
                      </small>
                    </span>
                  </div>
                  <div>
                    <span class="right">
                      <small>
                      <i>
                      Site theme is from 
                      <a href="https://nkmr6194.github.io/Umi/">Umi</a>
                      </i>
                      </small>
                    </span>
                  </div>
                  <div>
                    <span class="right">
                      <small>
                      <i>
                      Copyright © 2018 Yutaka Imamura
                      </i>
                      </small>
                    </span>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['\\(','\\)']]},
          processEscape: true
        });
        </script>

        <!-- <script src='/js/highlight.pack.js'></script> -->
        <!-- <script>hljs.initHighlightingOnLoad();</script> -->
    </body>
</html>
