<div class="jumbotron">
  <div class="container">
    <p>Yutaka Imamuraと申します。</p>
    <p>プログラマです。</p>
    <p>関数型プログラミングのことやLinuxのことなどについて書いたりします。</p>
  </div>
</div>
<section>
  <div class="row">
    <div class="col-md-12">
      <h2><span class="glyphicon glyphicon-book"></span> Writings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-ms-6">
      <h3><a class="btn btn-link" href="/writings/linux.html">Linux Kernel</a></h3>
      <p>Linux Kenel探訪記</p>
      <p>つねにWork In Progress</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2><span class="glyphicon glyphicon-headphones"></span> Musics</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-ms-6">
      <h3>
        <a class="btn btn-link" target="_blank" href="https://soundcloud.com/moda-republica">
          <span class="glyphicon glyphicon-link"></span>
          República Moda (on SoundCloud)
        </a>
      </h3>
      <p>まれに活動しているバンド。僕はドラムで参加しています。</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Recent updates</h3>
      <ul class="archives">
          $for(posts)$
              <li>
                  <a href="$url$">$title$</a> - $date$
              </li>
          $endfor$
      </ul>
    </div>
  </div>
</section>
