<div class="panel panel-success">
  <div class="panel-body">
    プログラマ Yutaka Imamura のなんやかんや
  </div>
</div>
<section>
  <div class="row">
    <div class="col-md-12">
      <h2><span class="glyphicon glyphicon-book"></span> Writings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-ms-6">
      <h3><a class="btn btn-link" href="/writings/linux.html">Linux Kernel</a></h3>
      <p>Expedition diary on Linux kernel.</p>
      <p>It's in progress always because we should not stop learning.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2><span class="glyphicon glyphicon-headphones"></span> Musics</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-ms-6">
      <h3>
        <a class="btn btn-link" href="https://soundcloud.com/moda-republica">
          <span class="glyphicon glyphicon-link"></span>
          República Moda (on SoundCloud)
        </a>
      </h3>
      <p>The group in which I am joining</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Recent updates</h3>
      <ul class="archives">
          $for(posts)$
              <li>
                  <a href="$url$">$title$</a> - $date$
              </li>
          $endfor$
      </ul>
    </div>
  </div>
</section>
