<section class="row">
  <div class="col">
    <h1>{{ siteTitle }}</h1>
    <p>
      関数型プログラミングのことやLinuxのことなどについて書いたりします。
    </p>
  </div>
</section>

<section class="row">
  <div class="col">
    <h2><span class="glyphicon glyphicon-flash"></span> Updates</h2>
    <ul>
    {{#posts}}
      <li>{{date}} - <a href="{{url}}">{{title}}</a></li>
    {{/posts}}
    </ul>
  </div>
</section>

<section class="row">
  <div class="col">
    <h2><span class="glyphicon glyphicon-book"></span> Writings</h2>

    <dl>

      <dt>
        <a href="./posts/linux.html">Linux Kernel</a>
      </dt>
      <dd>
        <p>
          Linux Kenel 探訪記。つねに Work In Progress.   
        </p>
      </dd>

      <dt>
        <a href="https://scrapbox.io/ilyaletre/"><span class="glyphicon glyphicon-link"></span> Scrapbox</a>
      </dt>
      <dd>
        <p>
          気になった用語とかを拾ってはメモしている。
        </p>
      </dd>

    </dl>
  </div>
</section>

<section class="row">
  <div class="col">
    <h2><span class="glyphicon glyphicon-wrench"></span> Programming</h2>
    <dl>
      <dt>
        <a href="http://vtfeed.herokuapp.com/"><span class="glyphicon glyphicon-link"></span> (停止中)vtfeed</a>
      </dt>
      <dd>
        <p>
          バーチャル YouTuber の更新情報を一覧で見ることができる tiny web application。Clojure の duct を使って書かれています。<br/>
          <a href="https://github.com/utky/vtfeed">コード</a>
        </p>
      </dd>
      <dt>
        <a href="https://github.com/utky/utky-note-processor"><span class="glyphicon glyphicon-link"></span> utky-note-processor</a>
      </dt>
      <dd>
        <p>
          毎週の行動振り返り用にEvernoteのノートを自動生成する
        </p>
      </dd>
    </dl>
  </div>
</section>

<section class="row">
  <div class="col">
    <h2><span class="glyphicon glyphicon-headphones"></span> Music</h2>
    <dl>
      <dt>
        <a href="https://soundcloud.com/moda-republica"><span class="glyphicon glyphicon-link"></span> República Moda (on SoundCloud)</a>
      </dt>
      <dd>
        <p>
          まれに活動しているバンド。僕はドラムで参加しています。
        </p>
      </dd>
      <dt>
        <a href="https://soundcloud.com/yutaka-imamura-448534769/s-to-a-art"><span class="glyphicon glyphicon-link"></span> S to A Art (on SoundCloud)</a>
      </dt>
      <dd>
        <p>
          バーチャルアイドルのときのそらさんが好き過ぎて書いたイメージソング。
        </p>
      </dd>
    </dl>
  </div>
</section>
