{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<p>
{{ section.content | safe }}
</p>
{% if section.pages %}
<ul>
  {% for page in section.pages | sort(attribute="date") | reverse %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% if section.subsections %}
<h2></h2>
<ul>
  {% for child in section.subsections %}
  {% set subsection = get_section(path=child) %}
  <li><a href="{{ subsection.permalink }}">{{ subsection.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock content %}