<article id="content">
  <header class="row">
    <div class="col">
      <h1 class="title">$title$</h1>
      <small>
      $date$
       / 
      $if(tagList)$
      [ $tagList$ ]
      $endif$
       / 
      $if(categorylist)$
      [ $categoryList$ ]
      $endif$
      </small>
    </div>
  </header>
  <div class="body row">
    <div class="col">
    $body$
    </div>
  </div>
  <footer class="row">
    <div class="col">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
  </footer>
</article>
